body {
  background-color: #272727;
  color: #c9c9c9;
}

main {
  text-align: center;
}

form > input#r {
  border-radius: 10px;
  padding: 4px;
  border: 0px;
}

button {
  border-radius: 5px;
  padding: 5px;
  margin-top: 4px;
  border: 0px;
}

button:hover {
  transition-duration: 0.3s;
  background-color: #606060;
  color: white;
  
}