@charset "UTF-8";

:root { 
  --cor0: #f3f3f3;
  --cor1: #043F7A;
  --cor2: #53A7FB;
  --cor3: #0781FA;
  --cor4: #28517A;
  --cor5: #0666C7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/* Style the header */
header {
  background-color: var(--cor1);
  color: var(--cor0);
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

h4 {
  font-size: 18px;
  font-style: italic;
  margin-left: 15px;
}

i {
  color: var(--cor3);
}

header > p {
  font-size: 18px;
}

.date {
  margin-left: 15px;
  font-size: 12px;
  color: var(--cor3)  ;
}

/* Custom the bar color */
.w3-round-xlarge {
  background-color: var(--cor1);
  color: var(--cor0);
}


/* Create three equal columns that floats next to each other */
.column {
  margin: 10px 0px;
  float: left;
  width: 33.33%;
  padding: 20px;

  border: 1px solid var(--cor4);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(219, 219, 219);

  background-color: var(--cor0);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#technologies {
  display: block;
  columns: 2;
}

#technologies > p {
  margin: 10px;
}

/* Style the footer */
footer {
  background-color: var(--cor1);
  color: var(--cor0);
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}