:root { 
  --cor0: #f3f3f3;
  --cor1: #043F7A;
  --cor2: #53A7FB;
  --cor3: #0781FA;
  --cor4: #28517A;
  --cor5: #0666C7;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/* Style the header */
header {
  background-color: #969696;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Custom the bar color */
.w3-round-xlarge {
  background-color: var(--cor1);
  color: var(--cor0);
}


/* Create three equal columns that floats next to each other */
.column {
  margin: 10px 0px;
  float: left;
  width: 33.33%;
  padding: 10px;

  border-left: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#technologies {
  display: block;
  columns: 2;
}

#technologies > p {
  margin: 10px;
}

/* Style the footer */
footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}