@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');


/* root (raiz): guardar variáveis para todas as subseções deste arquivo*/
:root { 
  --cor0: #EEEEEE;
  --cor1: #ECD9DD;
  --cor2: #A05464;
  --cor3: #454545;
  --cor4: #eeeeee1f;

  --fonte-padrao: 'Ubuntu', Arial, Verdana, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  font-family: var(--fonte-padrao);
}

h1 {
  font-size: 32px;
  text-align: center;
  color: var(--cor2);
}

h2 {
  font-size: 24px;
  text-align: left;
  color: var(--cor2);
}

hr {
  color: rgba(0, 0, 0, 0.336);
}

body > img {
  width: 100%;
  min-height: 150px;

}

body > div {
  text-align: center;
}

body > div > i {
  font-size: 28px;
  padding: 5px;
  color: var(--cor2);
  border-radius: 10px;
}

body > div > i:hover {

  background-color: var(--cor1);
  transition-duration: 0.2s;
}


/* Header e seus elementos 
============================================ */

header {
  padding: 20px;
  padding-bottom: 15px;
  width: 100%;
  height: 80px;
  display: inline-block;
  text-align: center;
  background-color: var(--cor0);
  box-shadow: 4px 4px 8px rgb(172, 172, 172);
}

header > img {
  width: 200px;
}

header nav {
  padding: 10px;
}

header nav > a {
  color: var(--cor2);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
}

header nav > a:hover {
  background-color: var(--cor1);
  font-weight: bold;
}

/* Main e seus elementos 
============================================ */

main {
  min-width: 300px;
  max-width: 1000px;

  padding: 20px;
  margin: 15px auto 15px auto;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main article {
  margin: 40px auto;

}

main p {
  margin: 15px 0px;
  text-align: left;
  text-indent: 30px;
  
  line-height: 1.5em;
}

main ul {
  margin: 15px 0px;
  list-style-type: "\2713\00A0\00A0";
  list-style-position: inside; 
  columns: 2;
}

.img_apoiadores {
  margin: 15px auto;
  max-width: 200px;
  display: block;

}


/* Footer e seus elementos 
============================================ */

footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 230px;

  color: var(--cor0);
  background-color: var(--cor3);
}

footer > img {
  margin: 20px auto;
  width: 170px;

}

footer > p {
  font-size: 14px;
  margin: 5px auto;
}

footer nav {
  padding: 10px;
}

footer nav > a {
  color: var(--cor0);
  font-size:32px;
  padding: 10px 15px;
  border-radius: 10px;
  transition-duration: 0.2s;
}

footer nav > a:hover {
  background-color: var(--cor4);

}

#direitos {
  margin: 15px auto;
  font-style: italic;
  font-weight: 300;
}